.git/*
data/*
input/*
output/*
nbs/*
env3/*
notebooks/*
cache/*
.*
venv/*
images/*
motobike/*
motor_gen_128/*
outputs/*
resized128_image/*
resized_image/*
submission/*
tmp/*
*.zip
*.ipynb
*.pth
client/*
models*
result*
sample/*
tensorboard_log/*
